# ---------------------------
#     Ignore everything
# ---------------------------

*

# ---------------------------
# Keep These Files and Folders
# ---------------------------

!.gitignore
!index.html
!404.html
!README.md

# ---------------------------

!assets/
!assets/**
!css/
!css/**
!js/
!js/**
!pages/
!pages/**

# ---------------------------